<section id="about-section-wrapper" class="bg-daner">
	<div class="jumbotron">
	</div>
	
	<div class="container">
		<div class="card text-center">
			<div class="card-body">
				<h4 class="card-title h2">Juicii Shop</h4>
				<p class="card-text h3 p-5">
					Juicii.shop is the digial marketing arm of <span class="bold">juicii Enterprise.</span> Here we provide you with exquisite Juicii products at Juicii prices. Juicii.shop is an online shop, where you can shop all your daily house needs and they will be delivered to you. We also offer special delivery services and special shopping offers. We also sell wholesale and retail. We give you products with prices cheaper than many online stores.
				</p>
				<%= link_to("Shop with us today", products_path, class: "btn btn-secondary") %>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-md-10 mx-auto">
				<h1 class="text-center" id="about-team-heading">About the team</h1>
			</div>
			
			<div class="col-md-6">
				<div class="d-flex">
					<div class="">
						<img class="team-pic" src="https://res.cloudinary.com/it-s-tech/image/upload/v1580598785/DSC_0318xxxxxx_nuze7h.jpg" alt="Card image cap">
					</div>
					<div class="card-body">
						<h4 class="card-title">King Onyesimus</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>					
				</div>
			</div>
		</div>
	</div>
</section>