<section id="about-section-wrapper" class="bg-daner">
	<div class="jumbotron">
	</div>
	<div class="container">
		<h3 class="text-center my-5 text-dark bold">About Juicii Enterprise</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="card text-center">
					<%= image_tag('https://res.cloudinary.com/it-s-tech/image/upload/v1581986482/woman-standing-on-the-center-table-with-four-people-on-the-1367271_kropda.jpg', class: "card-img-top", alt: "missing pic") %>
				</div>
			</div>
			<div class="col-md-6">
				<h4 class="font-weight-bolder my-4 text-center">What we are and what we do.</h4>
				<p>Juicii.shop is the digial marketing arm of juicii Enterprise. Here we provide you with exquisite Juicii products at Juicii prices. Juicii.shop is an online shop, where you can shop all your daily house needs and they will be delivered to you. We also offer special delivery services and special shopping offers. We also sell wholesale and retail. We give you products with prices cheaper than many online stores.</p>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row my-5">
			<div class="col-md-4 d-flex justify-content-between" id="mission-div">
				<p class="font-weight-light font-italic h1">01</p>
				<div class="text-white">
					<h2 class="text-center"> Our Mission</h2>
					<p>Facilitating access to quality education in Africa at a low cost using web technologies. We are committed to building sophisticated Educational applications with not just quality information but capable of matching up with the classroom experience.</p>
				</div>
			</div>
			<div class="col-md-4 d-flex justify-content-between" id="vision-div">
				<p class="font-weight-light font-italic h1">02</p>
				<div class="text-white">
					<h2 class="text-center">Our Vision</h2>
					<p>Becoming the most attended online Educational platform in Africa.</p>
				</div>
			</div>
			<div class="col-md-4 d-flex justify-content-between" id="philosophy-div">
				<p class="font-weight-light font-italic h1">03</p>
				<div class="text-white">
					<h2 class="text-center"> Our Philosophy</h2>
					<p>Our company philosophy is to create the kind of Educational web applications that will be accessible by the African public at a minimum cost, increasing percentage success leading to a better Africa. Education for a better Africa.</p>
				</div>
			</div>
		</div>
	</div>
	

	<div class="container">
		<div class="row mt-5">
			<div class="col-md-10 mx-auto">
				<h2 class="text-center my-5" id="about-team-heading">About the team</h2>
			</div>
			
			<div class="col-md-6">
				<div class="row">
					<div class="col-10 mx-auto col-md-4">
							<img style="border: 2px solid orange; border-radius: 50%; width: 100%;" class="team-pic" src="https://res.cloudinary.com/it-s-tech/image/upload/v1580598785/DSC_0318xxxxxx_nuze7h.jpg" alt="Card image cap">
					</div>
					<div class="col-10 mx-auto col-md-8 p-0">
						<div class="card-body p-0">
						<h4 class="card-title p-0 text-center">King Onyesimus</h4>
						<p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>	
					</div>				
				</div>
			</div>
		</div>
	</div>
</section>