
	<div class="jumbotron">
	</div>
	<div class="container text-center my-5" id="home-page-level-three-div">
    <h2 class="py-5 text-center">Services</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="home-page-level-three-blue-div p-3">
					<h2 class="text-center"><i class="fas fa-ad"></i></h2>
					<h4 class="bold">Digital Marketing</h4>
				</div>
				<div>
					 <p class="card-text mt-3">
		    	Juicii Enterprise is a digital marketing and advertising enterprise. We help you advertise your products and services to the world and help you products reach millions of customers craving for your services.
		    </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home-page-level-three-blue-div p-3">
					<h2 class="text-center"><i class="fas fa-cart-plus"></i></h2>
					<h4 class="bold">Juicii shop</h4>
				</div>
				<div>
					 <p class="card-text mt-3">
		    	Juicci shop is our online shop where you can shop anything available on our store and it'll be deliverd in less than one week.
		    </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home-page-level-three-blue-div p-3">
          <h2 class="text-center"><i class="far fa-user level-three-icons"></i></h2>
					<h4 class="bold">Shop for me</h4><h4>
				</h4></div>
				<div>
					 <p class="card-text mt-3">
		    	We help you source your products at the cheapest rates ever. In this service, you send us the detail(picture et AL) of your products, you pay for the  service and your products, them we source it, buy it for you and deliver. Home delivery will cost extra charges.
		    </p>
				</div>
			</div>
      <div class="col-md-12 d-flex justify-content-center align-items-center mb-4 pt-4 text-center">
          <a class="button-bg-blue" href="/pages/appointment">Continue shopping</a>
      </div>
		</div>
	</div>