<section id="about-section-wrapper" class="bg-daner">
	<div class="jumbotron">
	</div>
	
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-10 mx-auto">
				<h1 class="text-center mb-3" id="about-team-heading">Our Services</h1>
			</div>
			
			<div class="col-md-4">
				<div class="card border-secondary mb-3">
				  <div class="card-header h2">Digital Marketing</div>
				  <div class="card-body text-secondary">
				    <p class="card-text h3">
				    	Juicii Enterprise is a digital marketing and advertising enterprise. We help you advertise your products and services to the world and help you products reach millions of customers craving for your services.
				    </p>
				  </div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card border-secondary mb-3">
				  <div class="card-header h2">Juicii shop</div>
				  <div class="card-body text-secondary">
				    <p class="card-text h3">
				    	Juicci shop is our online shop where you can shop anything available on our store and it'll be deliverd in less than one week.
				    </p>
				  </div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card border-secondary mb-3">
				  <div class="card-header h2">Shop for me</div>
				  <div class="card-body text-secondary">
				    <p class="card-text h3">
				    	We help you source your products at the cheapest rates ever. In this service, you send us the detail(picture et AL) of your products, you pay for the  service and your products, them we source it, buy it for you and deliver. Home delivery will cost extra charges.
				    </p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>