body{
    font-family: 'Roboto', sans-serif;
}


/*######################### header ##########################*/
/*first-layer-section*/

#first-header-section {
    padding: 10px;
    background: #f8f9fa;
}
.first-header-section-div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.social-media-icons-div ul {
    list-style: none;
    padding: 0px;
    
}

.social-media-icons-div ul li {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.7em;
}

.social-media-icons-div ul li a {
    color: white;
    padding: 9px;
    border: 1px solid black;
    background: black;
    border-radius: 100%;
}
.social-media-icons-div ul li a:hover {
    color: #f16821;
}

#first-layer-contact-div ul {
    list-style: none;
}

#first-layer-contact-div ul li{
    display: inline-block;
    margin-left: 10px;
}

#first-layer-contact-div ul li a {
    color: #f16821;
    text-decoration: none;
}

#first-layer-contact-div ul li a:hover .right-icons {
    color: #7b2e06;
}

#first-layer-contact-div ul li a span {
    color: black;
    padding-left: 5px;
}

/*navbar##*/


#logo-pic {
    width: 100%;
}

#full-stop {
    color: #f16821;
}

/*end navbar*/

/*header-third-section*/
.header-third-layer {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/it-s-tech/image/upload/v1580598780/20200131_233820_0000_mol5xp.png')center/cover fixed no-repeat;
    color: white;
}

.header-third-layer-div {
    height: 100%;
}

.header-btn {
    color: white;
    border: 2px solid white;
}

.header-btn:hover {
    background: white;
}

/*end of header third section*/

/*#######################end of header###################*/

/*################ main start ########################*/

/*our products*/

/*end our products*/

/*client*/
.client-photo {
    width: 100px;
}

.general-item-card-body {
    background: #e2d9bc;
    border: 2px solid #6e6f73;
}
/*end client*/

/*####################### Card start ###################*/


#inner-card {
    border: 2px solid #a9740c;
    padding: 5px;
    border-radius: 10px;
    background: #e2d9bc;
}

.card-division {
    background: #a9740c;
    height: 3px;
}

.cart-show {
    background: #343a40;   
}

#keep-shoping-link {
    border: 1px solid #f7a810;
    font-weight: 700;
    color: #f7a810;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
}

#keep-shoping-link:hover {
    background: transparent;
    border: 1px solid #f7a810;
    color: white;
    text-decoration: none;
}

#remove-item-button {
    background: #343a40;
    border: 1px solid #f7a810;
    font-weight: 700;
    color: #f7a810;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 5px;
    display: inline-block;
}

#remove-item-button:hover {
    background: transparent;
    border: 1px solid #f7a810;
    color: red;
    text-decoration: none;
    border: 1px solid red;
}

.payment-method-div-content {
    width: 30%;
    display: inline-block;
}

.payment-photo {
    width: 100%;
}

#paywith-text {
    border: 1px solid #f7a810;
    color: #f7a810;
    font-size: 2rem;
    font-weight: 700;
}

/*####################### Card end ###################*/

/*####################### search pages ###################*/

.view-button {
    background: #343a40;
    border: 1px solid #f7a810;
    font-weight: 700;
    color: #f7a810;
    padding: 5px;
}

.view-button:hover {
    background: transparent;
    text-decoration: none;
    color: #343a40;
    border: 1px solid #343a40;
}

.product-title {
    color: #343a40;
    padding-top: 3px;
}

.product-title:hover {
    color: #343a40;
}

.category-list-group {
    box-shadow: 5px 10px 10px black;
}

.product-list-group {
    box-shadow: 10px 10px 10px black;
}

.first-list-child {
    background: #343a40;
    border-radius: 0;
    color: #f7a810;
}

.other-list-group-item {
    background: #e2d9bc;
}

.catogories-products-link {
    color: black;
}
.catogories-products-link:hover {
    color: black;
}
/*####################### Search pages end ###################*/

/*############### User pages ###########*/
 .user-show-info-col {
    background: #e2d9bc;
 }

 .user-show-transaction-col {
 background: #f3f1ee;
 border-left: 2px solid black;
 }

#edit-form-wrapper{
    height: 80vh;
    background: #e2d9bc;
}

 /*############### End ###########*/

 #new_user #error_explanation {
    color: red;
 }

 /*##### footer start ###########*/

 .site-footer {
    background: #343a40;
    border-top: 5px solid #f7a810;
 }

.footer-heading{
    color: #f7a810;
 }

 .footer-link {
    color: #f7a810;
 }

 .footer-link:hover {
    color: white;
 }

 .footer-icon i {
    color: white;
 }

 .footer-icon i:hover {
    color: #f7a810;
 }

#jumbotron-about-pic{
    width: 100%;
}

.jumbotron{
   height: 50vh;
   background: url("https://res.cloudinary.com/it-s-tech/image/upload/v1580598782/20200131_234048_0000_wxtuz5.png")center/cover fixed no-repeat;
}

.team-pic{
    height: 200px;
    width: 200px

}

#about-team-heading {
    color: #f7a810;
    background: #343a40;
}


/*################ products index page section ##############*/
.products-index-page-links{
    font-size: 0.6em;
}

#home-page-category-div{
    padding: 10px;
    background: #343a40;
    border: 2px solid #dec391;
    border-radius: 10px;
    height: 50vh; /* Full-height: remove this if you want "auto" height */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    overflow: scroll;
    top: 0;
}

#home-page-promotion-div{
    text: center;
    padding: 10px;
    background: #343a40;
    color: #dec391;
    height: 70vh;
    overflow: scroll;
    border: 2px solid #dec391;
    border-radius: 10px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.home-page-category-links{
    color: orange;    
}

.home-page-category-links:hover{
     text-decoration: none; 
     color: black; 
}

.home-page-category-list:hover{
    background: #dec391;
    padding: 5px;

}

.products-index-page-price{
    font-size: 0.7em;
    background: #3a1707;
    border: 1px solid #f7a810;
    color: #f7a810;
}

.card-border{
    border: 3px solid #f7a80f;
}

.products-index-page-links{
    color: #3a1707;
    font-size: 0.5em;
}
.products-index-page-links:hover{
    color: #3a1707;
}

#our-products {
    background: orange;
}

.our-products-headings{
    color: white;
}
/*################### product show page section #############3*/

#show-product-pict-and-description-row {
   background: #f3cd89;
   color: black;
}

#product-show-page{
    background: orange;
}

.add-to-cart{
    background: #ffa500;
}

/*#################### Promotion page ####################*/

#promotion-wrapper-div{
    background: orange;
}

/*############### Category shoe page #################*/
#category-show-wrapper-div{
    background: orange;
}

#about-section-wrapper{
   color: #5f5d5b;
}

#mission-div {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(https://res.cloudinary.com/it-s-tech/image/upload/v1581986499/first_m7ymqh.jpg)center/cover fixed no-repeat;
}

#vision-div {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(https://res.cloudinary.com/it-s-tech/image/upload/v1581986476/how-to-speed-up-windows-10-hero1551746302019_xstnxp.jpg)center/cover fixed no-repeat;
}

#philosophy-div {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://res.cloudinary.com/it-s-tech/image/upload/v1580503415/differences-background_l1ub0m.jpg)center/cover fixed no-repeat;
}