<footer class="site-footer text-white pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-5">
                <h6 class="footer-heading mb-4">About Us</h6>
                <p style="font-size: 0.7em;">Quality services and products at affordable prices</p>
              </div>
              <div class="col-3 ">
                <h6 class="footer-heading mb-4">Quick Links</h6>
                <ul style="font-size: 0.7em;" class="list-unstyled">
                  <li><%= link_to "About us", about_path, class: "footer-link" %></li>
                  <li><%= link_to "Our Services", services_path, class: "footer-link" %></li>
                  <li><%= link_to "About us", contact_path, class: "footer-link" %></li>
                </ul>
              </div>
              <div class="col-4">
                <h6 class="footer-heading mb-4">Follow Us</h6>
                <ul class="list-unstyled">
                  <li class="mb-5"><a href="https://www.instagram.com/juicii_enterprise/" class="footer-icon" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
                  <li><a href="https://www.facebook.com/JuiciiEnterprise/" target="_blank" class="footer-icon"><i class="fab fa-instagram fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 ml-auto">
            <h6 class="footer-heading mb-4">Juicii Enterprise</h6>
            <a href="#"><img src="https://res.cloudinary.com/it-s-tech/image/upload/v1580598779/20200131_232003_0000_nuovas.png" alt="Image" class="img-fluid mb-3"></a>
            <p style="font-size: 0.7em;">We help you win!!</p>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
              Copyright &copy;2020 All rights reserved | This website is maintained <i class="icon-heart" aria-hidden="true"></i> by <a href="https://itstech.herokuapp.com" target="_blank" >Group-Itstech</a>
            </p>
            </div>
          </div>         
        </div>
      </div>
    </footer>