<footer class="site-footer text-white pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Quality services and products at affordable prices</p>
              </div>
              <div class="col-md-3 ">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><%= link_to "About us", about_path, class: "footer-link" %></li>
                  <li><%= link_to "Our Services", services_path, class: "footer-link" %></li>
                  <li><%= link_to "About us", contact_path, class: "footer-link" %></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <ul class="list-unstyled">
                  <li class="mb-5"><a href="https://www.instagram.com/juicii_enterprise/" class="footer-icon" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
                  <li><a href="https://www.facebook.com/JuiciiEnterprise/" target="_blank" class="footer-icon"><i class="fab fa-instagram fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Juicii Enterprise</h2>
            <a href="#"><img src="https://res.cloudinary.com/it-s-tech/image/upload/v1580598779/20200131_232003_0000_nuovas.png" alt="Image" class="img-fluid mb-3"></a>
            <h4 class="h5">We help you win!!</h4>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        Copyright &copy;2020 All rights reserved | This build is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://itstech.herokuapp.com" target="_blank" >Group-Itstech</a>
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>