<section class="header-third-layer overlay bg-danger">
  <div class="container header-third-layer-div">
    <div class="row header-third-layer-div align-items-center justify-content-center">

      <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                    
        <div class="row mb-4">
          <div class="col-md-7">
            <h1 class="text-center">Shop With Us</h1>
            <p class="mb-5 lead text-center">We always serve you the best deals at affordable prices.</p>
            <div>
              <a href="#our-products" class="btn header-btn py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  